<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
        <title>Вход</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="main">
                <picture><source srcset="https://i.ibb.co/S3WXL11/14.webp" type="image/webp"><img src="https://i.ibb.co/S3WXL11/14.jpg" alt="background" class="background-img img"></picture>
                <section class="container-3 full-colored">
                    <form id="logging" th:action="@{/login}" method="post">
                        <p class="title">Вход</p>
                        <p class="link-subtitle" th:text="${message}"></p>
                        <div class="logging_inputs">
                            <input type="text" name="username" class="input" placeholder="имя пользователя">
                            <input type="password" name="password" class="input" placeholder="пароль">
                            <input type="submit" class="button-2" value="Войти">
                        </div>
                        <p class="link-subtitle">Нет аккаунта? Тогда
                            <a th:href="@{registration}" class="link">зарегистрируйтесь</a>!
                        </p>
                    </form>
                </section>
            </div>
        </div>
        <script src="/static/js/app.min.js?_v=20230318220724"></script>
    </body>
</html>