<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>Вход</title>
    </head>
    <body>
        <form th:action="@{/login}" method="post">
            <div>
                <label>
                    Имя пользователя:
                    <input type="text" name="username"/>
                </label>
            </div>
            <div>
                <label>
                    Пароль:
                    <input type="password" name="password"/>
                </label>
            </div>
            <div>
                <input type="submit" value="Войти"/>
            </div>
        </form>
        <p>Нет аккаунта? Тогда
            <a th:href="@{registration}">зарегистрируйтесь</a>!
        </p>
    </body>
</html>