<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <title>Регистрация</title>
</head>
<body>
<div class="wrapper">
    <div class="main">
        <picture><source srcset="https://i.ibb.co/S3WXL11/14.webp" type="image/webp"><img src="https://i.ibb.co/S3WXL11/14.jpg" alt="background" class="background-img img"></picture>
        <section class="container-3 full-colored">
            <form id="logging" th:action="@{/registration}" method="post">
                <p class="title">Регистрация</p>
                <div class="logging_inputs">
                    <div th:class="'subtitle-error ' + ${messageUserExist == null ? 'hidden' : ''}"
                         th:text="${messageUserExist}"></div>
                    <div th:class="'subtitle-error ' + ${messageUsername == null ? 'hidden' : ''}"
                         th:text="${messageUsername}"></div>
                    <input type="text" name="username" class="input" placeholder="Имя пользователя">
                    <div th:class="'subtitle-error ' + ${messagePasswd == null ? 'hidden' : ''}"
                         th:text="${messagePasswd}"></div>
                    <input type="password" name="password" class="input" placeholder="Пароль">
                    <div th:class="'subtitle-error ' + ${messagePasswdConf == null ? 'hidden' : ''}"
                         th:text="${messagePasswdConf}"></div>
                    <input type="password" name="passwordConfirm" class="input" placeholder="Повторите пароль">
                    <div th:class="'subtitle-error ' + ${messageEmail == null ? 'hidden' : ''}"
                         th:text="${messageEmail}"></div>
                    <input type="email" name="email" class="input" placeholder="some@some.com">
                    <div th:class="'subtitle-error ' + ${messagePhone == null ? 'hidden' : ''}"
                         th:text="${messagePhone}"></div>
                    <input type="tel" name="phone" class="input" placeholder="78885553311">
                    <input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
                    <input type="submit" class="button-2" value="Зарегистрироваться">
                </div>
                <p class="link-subtitle">
                    <a th:href="@{/login}" class="link">Вернуться на страницу входа</a>
                </p>
            </form>
        </section>
    </div>
</div>
<script src="/static/js/app.min.js?_v=20230318220724"></script>
</body>
</html>