.good-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    .img {
        object-position: center center;
    }
    .good-card_photo {
        width: 100%;
        height: 65%;
    }
    .good-card_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        .info_name-cost {
            width: 100%;
            font-size: $font-descript;
            display: grid;
            grid-template-columns: 70% 30%;
            margin-bottom: 5px;
            .name-cost_name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .name-cost_cost {
                justify-self: flex-end;
            }
        }
        .info_description {
            width: 100%;
            height: $font-small;
            font-size: $font-small;
            overflow: hidden;
            margin-bottom: 20px;
        }
        .info_activities {
            width: 100%;
            .activities_not-added {
                .add {
                    font-size: $font-small;
                }
            }
        }
    }
}

.row-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.activities_added {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    .controls {
        &_minus, &_plus {
            width: 36px;
            height: 36px;
        }
        &_value {
            width: fit-content;
        }
    }
    .added_controls {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        justify-content: space-between;

        .controls_value {
            display: grid;
            grid-template-columns: 80px 30px;
            align-items: center;
            justify-content: flex-start;
            justify-items: flex-start;
            .value_value {
                font-size: $font-descript;
                font-family: 'AlegreyaSans';
                background-color: transparent;
                color: $primary-light;
                border: none;
                max-width: 100px;
            }
            .value_value:focus {
                border: none;
                outline: none;
            }
        }
    }
    .delete {
        width: 40px;
        height: 40px;
        border-radius: 120px;
        &:active {
            background-color: $accent-pastel;
        }
    }
}