header {
    // 158 px
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: $backgroung;
    z-index: 10;
    height: 158px;
    width: 100%;
    // 40px 60px
    padding: 40px 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .nav, .nav-mainpage {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        // 40px
        gap: 40px;
        .nav_link {
            .link_button {
                position: relative;
                box-sizing: content-box;
                border-radius: 0px;
                // 14px 0px
                padding: 14px 0px;
                background-color: transparent;
                color: $description;
                transition: ease-in-out 0.3s;
                transform-origin: center;
                transition-delay: 50ms;
                // &::before, &::after {
                //     position: absolute;
                //     content: '';
                //     top: 48%;
                //     left: 46px;
                //     width: 5px;
                //     height: 5px;
                //     border-radius: 10px;
                //     background-color: $primary-light;
                //     opacity: 0;
                //     transition: 0.12s;
                //     transition-delay: 200ms;
                // }
                // &::after {
                //     left: auto;
                //     right: 46px;
                // }
                &:hover {
                    border-radius: 100px;
                    // 14px 64px
                    padding: 14px 64px;
                    background-color: $contrast-text-b0;
                    color: $backgroung;
                    // &::after, &::before {
                    //     opacity: 1;
                    // }
                }
                &-active {
                    border-radius: 100px;
                    // 14px 64px
                    padding: 14px 64px;
                    background-color: $header-buttons-d0;
                    color: $primary-light;
                    &::before, &::after {
                        position: absolute;
                        content: '';
                        top: 48%;
                        left: 46px;
                        width: 5px;
                        height: 5px;
                        border-radius: 10px;
                        background-color: $primary-light;
                        opacity: 1;
                    }
                    &::after {
                        left: auto;
                        // 48px
                        right: 48px;
                    }
                }
            }
        }
    }
    .nav-mainpage {
        .nav_link {
            .link_button {
                color: $primary-light;
            }
        }
    }
}