#mainheader {
    font-size: 2.4em;
    margin-top: 1.4em;
    font-family: 'Mulish';
}

#main-header {
    background-color: transparent;
}

#menu-container {
    width: 100%;
    height: fit-content;
    padding: 1.2em;
    display: grid;
    gap: 0.6em;

    grid-template-areas:
    "a a a a a b b b b b b"
    "a a a a a b b b b b b"
    "a a a a a b b b b b b"
    "a a a a a b b b b b b"
    "a a a a a . d d d d d"
    "c c c c c c d d d d d"
    "c c c c c c d d d d d"
    "c c c c c c d d d d d"
    "c c c c c c d d d d d"
    "e e e e e f f f f f f"
    "e e e e e f f f f f f"
    "e e e e e f f f f f f"
    "e e e e e f f f f f f"
    "e e e e e . h h h h h"
    "g g g g g g h h h h h"
    "g g g g g g h h h h h"
    "g g g g g g h h h h h"
    "g g g g g g h h h h h"
    "i i i i i j j j j j j"
    "i i i i i j j j j j j"
    "i i i i i j j j j j j"
    "i i i i i j j j j j j"
    "i i i i i . l l l l l"
    "k k k k k k l l l l l"
    "k k k k k k l l l l l"
    "k k k k k k l l l l l"
    "k k k k k k l l l l l"
    "m m m m m n n n n n n"
    "m m m m m n n n n n n"
    "m m m m m n n n n n n"
    "m m m m m n n n n n n"
    "m m m m m . p p p p p"
    "o o o o o o p p p p p"
    "o o o o o o p p p p p"
    "o o o o o o p p p p p"
    "o o o o o o p p p p p"
    "q q q q q r r r r r r"
    "q q q q q r r r r r r"
    "q q q q q r r r r r r"
    "q q q q q r r r r r r"
    "q q q q q . t t t t t"
    "s s s s s s t t t t t"
    "s s s s s s t t t t t"
    "s s s s s s t t t t t"
    "s s s s s s t t t t t"
    "u u u u u v v v v v v"
    "u u u u u v v v v v v"
    "u u u u u v v v v v v"
    "u u u u u v v v v v v"
    "u u u u u . x x x x x"
    "w w w w w w x x x x x"
    "w w w w w w x x x x x"
    "w w w w w w x x x x x"
    "w w w w w w x x x x x"
    "y y y y y z z z z z z"
    "y y y y y z z z z z z"
    "y y y y y z z z z z z"
    "y y y y y z z z z z z"
    "y y y y y . B B B B B"
    "A A A A A A B B B B B"
    "A A A A A A B B B B B"
    "A A A A A A B B B B B"
    "A A A A A A B B B B B"
    "C C C C C D D D D D D"
    "C C C C C D D D D D D"
    "C C C C C D D D D D D"
    "C C C C C D D D D D D"
    "C C C C C . F F F F F"
    "E E E E E E F F F F F"
    "E E E E E E F F F F F"
    "E E E E E E F F F F F"
    "E E E E E E F F F F F"
    "G G G G G H H H H H H"
    "G G G G G H H H H H H"
    "G G G G G H H H H H H"
    "G G G G G H H H H H H"
    "G G G G G . J J J J J"
    "I I I I I I J J J J J"
    "I I I I I I J J J J J"
    "I I I I I I J J J J J"
    "I I I I I I J J J J J"
    "K K K K K L L L L L L"
    "K K K K K L L L L L L"
    "K K K K K L L L L L L"
    "K K K K K L L L L L L"
    "K K K K K . N N N N N"
    "M M M M M M N N N N N"
    "M M M M M M N N N N N"
    "M M M M M M N N N N N"
    "M M M M M M N N N N N"
    "O O O O O P P P P P P"
    "O O O O O P P P P P P"
    "O O O O O P P P P P P"
    "O O O O O P P P P P P"
    "O O O O O . R R R R R"
    "Q Q Q Q Q Q R R R R R"
    "Q Q Q Q Q Q R R R R R"
    "Q Q Q Q Q Q R R R R R"
    "Q Q Q Q Q Q R R R R R"
    "S S S S S T T T T T T"
    "S S S S S T T T T T T"
    "S S S S S T T T T T T"
    "S S S S S T T T T T T"
    "S S S S S . V V V V V"
    "U U U U U U V V V V V"
    "U U U U U U V V V V V"
    "U U U U U U V V V V V"
    "U U U U U U V V V V V"
    "W W W W W X X X X X X"
    "W W W W W X X X X X X"
    "W W W W W X X X X X X"
    "W W W W W X X X X X X"
    "W W W W W . Z Z Z Z Z"
    "Y Y Y Y Y Y Z Z Z Z Z"
    "Y Y Y Y Y Y Z Z Z Z Z"
    "Y Y Y Y Y Y Z Z Z Z Z"
    "Y Y Y Y Y Y Z Z Z Z Z";
    
    grid-auto-columns: 3.7em;
    grid-auto-rows: 3.7em;

    
    #category1 {
        grid-area: a;
    }

    #category2 {
        grid-area: b;
    }

    #category3 {
        grid-area: c;
    }

    #category4 {
        grid-area: d;
    }

    #category5 {
        grid-area: e;
    }

    #category6 {
        grid-area: f;
    }

    #category7 {
        grid-area: g;
    }

    #category8 {
        grid-area: h;
    }

    #category9 {
        grid-area: i;
    }

    #category10 {
        grid-area: j;
    }

    #category11 {
        grid-area: k;
    }

    #category12 {
        grid-area: l;
    }

    #category13 {
        grid-area: m;
    }

    #category14 {
        grid-area: n;
    }

    #category15 {
        grid-area: o;
    }

    #category16 {
        grid-area: p;
    }

    #category17 {
        grid-area: q;
    }

    #category18 {
        grid-area: r;
    }

    #category19 {
        grid-area: s;
    }

    #category20 {
        grid-area: t;
    }

    #category21 {
        grid-area: u;
    }

    #category22 {
        grid-area: v;
    }

    #category23 {
        grid-area: w;
    }

    #category24 {
        grid-area: x;
    }

    #category25 {
        grid-area: y;
    }

    #category26 {
        grid-area: z;
    }

    #category27 {
        grid-area: A;
    }

    #category28 {
        grid-area: B;
    }

    #category29 {
        grid-area: C;
    }

    #category30 {
        grid-area: D;
    }

    #category31 {
        grid-area: E;
    }

    #category32 {
        grid-area: F;
    }

    #category33 {
        grid-area: G;
    }

    #category34 {
        grid-area: H;
    }

    #category35 {
        grid-area: I;
    }

    #category36 {
        grid-area: J;
    }

    #category37 {
        grid-area: K;
    }

    #category38 {
        grid-area: L;
    }

    #category39 {
        grid-area: M;
    }

    #category40 {
        grid-area: N;
    }

    #category41 {
        grid-area: O;
    }

    #category42 {
        grid-area: P;
    }

    #category43 {
        grid-area: Q;
    }

    #category44 {
        grid-area: R;
    }

    #category45 {
        grid-area: S;
    }

    #category46 {
        grid-area: T;
    }

    #category47 {
        grid-area: U;
    }

    #category48 {
        grid-area: V;
    }

    #category49 {
        grid-area: W;
    }

    #category50 {
        grid-area: X;
    }

    #category51 {
        grid-area: Y;
    }

    #category52 {
        grid-area: Z;
    }

}

#filter-menu {
    position: fixed;
    z-index: 2;
    // fixed
    width: 390px;
    height: auto;
    padding: 0px 40px;
    background-color: $backgroung;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 30px;
}

#section-container {
    display: flex;
    flex-direction: row;
}

#goods_place {
    margin-left: 390px;
    // if filter-menu fixed
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 500px;
    height: max-content;
}

#orders-info {
    margin-bottom: 20px;
}

#orders-place {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 160px;
    grid-template-columns: 33% 33% 33%;
    gap: 15px;
}