#mainheader {
    font-size: 2.4em;
    margin-top: 1.4em;
    font-family: 'Mulish';
}

#main-header {
    background-color: transparent;
}

.menu-container {
    width: 99%;
    padding: 40px;
    margin-top: 158px;
    display: grid;
    gap: 10px;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 400px;
    grid-auto-columns: 33% 33% 33%;
    grid-auto-rows: 400px;
    align-content: center;
    justify-content: center;
}

#filter-menu {
    position: fixed;
    z-index: 2;
    // fixed
    width: 390px;
    height: auto;
    padding: 0px 40px;
    background-color: $backgroung;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 30px;
}

.section-container {
    display: flex;
    flex-direction: row;
}

#goods_place {
    margin-left: 390px;
    // if filter-menu fixed
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 500px;
    height: max-content;
}

#orders-info {
    margin-bottom: 20px;
}

#orders-place {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 160px;
    grid-template-columns: 33% 33% 33%;
    gap: 15px;
}

#logging {
    width: 520px;
    height: auto;
    padding: 30px 30px 70px 30px;
    border-radius: 2px;
    background-color: $backgroung;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Mullish';
}

#place_order {
    display: grid;
    grid-template-columns: 260px 520px;
    grid-auto-columns: 260px 520px;
    background-color: $backgroung;
    padding: 30px 30px 70px 30px;
    border-radius: 2px;
    justify-items: center;
}

#good_container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 158px;
    box-sizing: border-box;
    padding: 60px;
    display: grid;
    gap: 30px;
    grid-template-columns: 56% 44%;
}