.menu-container {
    .category {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        &:hover {
            .category_title {
                height: 1000%;
                width: 50%;
                padding: 30px 20px;
            }
        }
        .background-img {
            position: absolute;
        }
        &_title {
            width: 0%;
            height: 100%;
            // statics
            position: absolute;
            overflow: hidden;
            box-sizing: border-box;
            left: 0px;
            bottom: 0px;
            background-color: $card-header-place-f3;
            padding: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            backdrop-filter: blur(1px);
            transition: ease-in-out 0.3s;
            transition-delay: 0.05ms;
            .description {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-end;
                gap: 5px;
                &_typename {
                    font-size: $font-descript;
                    color: $card-links;
                }
            }
            .title {
                margin-top: 30px;
            }
        }
    }
}

.or {
    width: 100%;
    height: fit-content;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 46% 8% 46%;
    grid-auto-columns: 44% 12% 44%;
}

.data-container, .data-container-big {
    min-width: 100%;
    width: fit-content;
    min-height: 320px;
    max-height: 360px;
    overflow-y: scroll;
    padding: 0px 4px;
    border: 2px solid $card-header-place-f3;
    .table {
        border-spacing: 0px 4px;
        tr {
            background-color: $card-header-place-f3;
            td {
                width: fit-content;
                padding: 10px 20px;
                color: $primary-light;
            }
            &:nth-child(2n) {
                background-color: $backgroung;
            }
        }
        thead {
            td {
                background-color: $primary-light;
                color: $backgroung;
                font-family: 'Mulish';
            }
        }
    }
}

.data-container-big {
    min-height: 520px;
    max-height: 620px;
}