@import "vars";
@import "null_style";
@import "fonts";
@import "header";
@import "footer";
@import "ids";
@import "menu";
@import "sections";
@import "card";
@import "orders";
@import "cart";
@import "index";
@import "order_making";
@import "good";
@import "profile";

.img, .img-center {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: left top;
    &-full {
        inline-size: 100%;
        block-size: 100%;
        object-fit: contain;
    }
}
.img-center {
    object-position: center center;
}

.logo {
    height: 80px;
    width: fit-content;
}

.background-img {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.container {
    position: relative;
    width: 100%;
    margin-top: 158px;
    box-sizing: border-box;
    padding: 60px;
}
.container_center_align {
    position: relative;
    width: 100%;
    margin-top: 158px;
    box-sizing: border-box;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.container-2 {
    position: relative;
    width: 100%;
    min-height: 420px;
    margin-top: 158px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px;
}
.container-3 {
    width: 100%;
    min-height: 420px;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px;
}

.contrast-text {
    color: $contrast-text;
}

.title {
    font-size: $font-header-regular;
    font-family: 'Mulish';
    color: $primary-dark;
}

.subtitle, .description {
    color: $description;
    font-size: $font-descript;
}

.description {
    color: $primary-light;
}

.link-subtitle {
    font-family: 'Mulish';
    color: $card-links;
    font-size: $font-small;
    a, span  {
        font-family: inherit;
        color: $contrast-text;
    }
}

form {
    a {
        color: $contrast-text;
    }
}

.button, .button-2, .button-inactive {
    width: 100%;
    padding: 12px 0px;
    border-radius: 100px;
    font-size: $font-descript;
    color: $primary-dark;
    transition: ease-in-out 0.08s;
    border: 2px solid $primary-light;
    background-color: $backgroung;
}

.button-2 {
    width: fit-content;
    min-width: 200px;
    padding: 12px 20px;
    box-sizing: content-box;
}

.button:hover, .button-2:hover {
    color: $backgroung;
    background-color: $primary-dark;
}

.button-inactive {
    background-color: $button-light;
    color: $description;
    border: none;
}

.hidden {
    display: none;
}