@import "vars";
@import "null_style";
@import "fonts";
@import "header";
@import "footer";
@import "ids";
@import "menu";
@import "sections";
@import "card";

body {
    background: $backgroung;
    position: relative;
}

.img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: left top;
    &-full {
        inline-size: 100%;
        block-size: 100%;
        object-fit: contain;
    }
}

.logo {
    height: 80px;
    width: fit-content;
}

.background-img {
    position: fixed;
    z-index: -1;
    top: 0px;
    left: 0px;
}

.container {
    position: relative;
    width: 100%;
    margin-top: 158px;
    box-sizing: border-box;
    padding: 60px;
}

.contrast-text {
    color: $contrast-text;
}

.title {
    font-size: $font-header-regular;
    font-family: 'Mulish';
    color: $primary-light;
}

.subtitle {
    color: $description;
    font-size: $font-descript;
}

.button, .button-inactive {
    width: 100%;
    padding: 12px 0px;
    border-radius: 100px;
    font-size: $font-descript;
    color: $primary-dark;
    transition: ease-in-out 0.08s;
    border: 2px solid $primary-light;
    background-color: $backgroung;
}

.button:hover {
    color: $backgroung;
    background-color: $primary-dark;
}

.button-inactive {
    background-color: $button-light;
    color: $description;
    border: none;
}