$primary-dark: #2F3543;
$primary-light: #525A6D;
$accent-pastel: #FFEDED;
$accent-medium: #F5E3E3;

$card-header-place-f3: #f5f5f5f3;
$card-links: #F3AFAF;
$card-links-bf: #f3afafbf;
$card-links-4e: #f3afaf4e;

$backgroung: white;

$button-light: #F5F5F5;

$description: #ACB0B9;

$footer-light: #FFFBFB;
$footer-back-d0: #f5e3e3d0;

$header-buttons-d0: #FFEDEDd0;

$contrast-text: #FF6B81;
$contrast-text-b0: #ff6b81b0;

$font-descript: 24px;
$font-small: 20px;
$font-header-regular: 32px;

$table-back: #FFECCB;
$table-thead-back: #FDCA6E;


// $font-descript: 1.875em;
// $font-small: 1.5em;
// $font-header-regular: 2.5em; 
